@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;


.best-seller .splide__arrow:disabled, .products-slider .splide__arrow:disabled{
  background-color: #000 !important;

   opacity: 0.1 !important;
}

 .best-seller .splide__arrow:not(:disabled) {


  opacity: 1 !important;
}

 .products-slider .splide__arrow:disabled{
  background-color: #000 !important;

   opacity: 0 !important;
}

.splide__slide img {
    width: 100%;
    height: auto;
  }
  @layer  utilities{
    .shadow-large {
      box-shadow: 0px -11px 20px 0px rgba(0, 0, 0, 0.30)
    }
  }

  .custom-checkbox {
    display: none; /* Hide the default checkbox */
  }

  .custom-checkbox + label {
    position: relative;
    padding-left: 30px; /* Space for custom checkbox */
    cursor: pointer;
  }

  .custom-checkbox + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px; /* Width of custom checkbox */
    height: 20px; /* Height of custom checkbox */
    border: 2px solid #ccc;
    border-radius: 4px; /* Optional: if you want rounded corners */
    background: white;
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.25) inset;
  }

  .custom-checkbox:checked + label:before {
    content: '✓'; /* Unicode check mark */
    color: #000; /* Color of the check mark */
    font-size: 20px; /* Size of the check mark */
    line-height: 20px; /* Center the check mark vertically */
    text-align: center; /* Center the check mark horizontally */
  }
  

@tailwind utilities;